@model Bank
@{
    ViewData["Title"] = "AddNewBank";
}

<form method="post" asp-action="AddNewBank">
    <div style="text-align:center;margin:auto;width:75%" class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-dark text-primary">Új bank hozzáadása</h2>
        </div>
        <div class="mb-3">
            <label style="font-size:larger" asp-for="Swift"></label>
            <input style="margin:auto;text-align:center;width:50%" asp-for="Swift" class="form-control"/>
            @*<span asp-validation-for="Swift" class="text-danger"></span>*@
        </div>
        <div class="mb-3">
            <label style="font-size:larger" asp-for="Name"></label>
            <input style="margin:auto;text-align:center;width:50%" asp-for="Name" class="form-control"/>
            @*<span asp-validation-for="Name" class="text-danger"></span>*@
        </div>
        <div class="mb-3">
            <label style="font-size:larger" asp-for="SeatAddress"></label>
            <input style="margin:auto;text-align:center;width:50%" asp-for="SeatAddress" class="form-control"/>
            @*<span asp-validation-for="SeatAddress" class="text-danger"></span>*@
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Létrehozás</button>
        <a asp-controller="Bank" asp-action="Index" class="btn btn-secondary" style="width:150px">Vissza</a>
    </div>
</form>